h1{
    color: blue; 
    font-size: 50px;
}
h2{
    color: #46484c;
}
b{
    color: #8b8b8bcc;
}
button{
    color:#fff;
    background-color: #025157;
}

body{
    background-color: #fffbf7;
    /* background-image: url('./images/logoBEDU.png'); */

}

.header {
    /* margin-top: 40px; */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 40px  20px 0 20px;
    font-size: 0;
    line-height: 45px;
  }

li{
    display: inline;
    margin-right: 25px;
    margin-left: 25px;

  }

  .fixed-header{
      position: fixed;
      background-color: white;
      top: 0;
      left: 0;
      right: 0;
  }

  .header > * {
      display: inline-block;
      font-size: 16px;
      vertical-align: middle;
      height: 100%;
      line-height: 45px;
      font-family: sans-serif;
  }

  .logo {
      width: 15%;
  }

  .navbar {
      width: 70%;
      text-align: left;
      color: #025157;
  }

  .actions {
      width: 15%;
      text-align: left;
      font-size: 14px;
  }

  .actions > * {
      margin-right: 10px;
      margin-left: 10px;
  }

  .actions a
  {
      color: #67b54b;

  }

  .actions button{
      color: white;
      background-color: #67b54b;
      padding: 12px 14px 12px 14px;
      border: 0;
      border-radius: 5px;
  }

  .promo{
      display: flex;
      width: 70%;
      margin: 100px auto;
      justify-content: space-around;
  }

  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
  }

  .publish h3 {
    font-family: "Alegreya";
    color: #025157;
    margin-left: 50px;
  }
  
  .publish > p {
    color: #343434;
  }
  
  .publish > form p {
    color: #025157;
  }

  .postwork{
      background-color: #a1d683;
      display: flex;
  }
  .postworkCenter{
      display: flex;
      width: 70%;
      margin: 100px auto;
      align-items: center;
  }
  .informacion{
      margin-right: 50px;
  }
  .informacion > *{
      margin-bottom: 15px;
  }
  .informacion h1{
      font-size: 50px;
      color: #025157;
  }
  .informacion p{
      font-size: 20px;
  }
  .informacion button{
      color: white;
      background-color: #025157;
      border-radius: 8px;
      padding: 11px;
      font-size: 20px;
      border: none;
  }
  .tarjeta{
      background-color: white;
      border-radius: 15px;
      height: 700px;
      width: 400px;

  }
  .perfil img{
      width: 350px;
      height: 300px;
      border-radius: 15px 15px 0 0;
      margin-bottom: 15px;
  }
  .tarjeta .logoEverly{
      position: absolute;
      margin-left: 230px;
      width: 60px;
      height: 60px;
      background-color: #f9da73;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .tarjetaCuerpo h6{
      font-size: 20px;
      color: #025157;
  }
  .tarjetaCuerpo p{
      font-size: 25px;
      color: black;
  }
  .tarjetaCuerpo button{
      margin-top: 20px;
      color: white;
      background-color: #025157;
      border-radius: 8px;
      padding: 11px;
      font-size: 20px;
      border: none;
      width: 100px;

  }
  .imagenOferta{
      display: flex;
  }
  .imagenOferta img{
      margin-right: 15px;
  }
  .imagenOferta p{
      font-size: 20px;
      color: #aaaaaa;
  }

  .features{
      display: grid;
      /* grid-template-columns: 300px 300px; */
      /* grid-template-columns: repeat(2,300px); */
      /* grid-template-columns: 500px 1fr; */
      /* grid-template-columns: 1fr 1fr; */
      /* grid-template-columns: repeat(2,1fr); */
      /* grid-template-rows: repeat(2,330px); */
      /* grid-template: repeat(2,1fr) / repeat(2,1fr); */
      background: #025157;
      padding: 50px 120px;
      justify-content: center;
  }

  .contenedor{
      display: grid;
      grid-template: repeat(2,330px) / repeat(2,520px);
      row-gap: 20px;
      column-gap: 20px;
  }

  .feature-art{
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 60px;
    overflow: hidden;
  }

  .feature-img{
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
  }

  .feature-content{
      padding: 30px 20px 30px 40px;
  }

  .feature-content img{
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
  }

  .feature-content h3{
      font-size: 24px;
      color:#343434;
      font-weight: 400;
      font-family: "Open Sans" ,sans-serif;
  }

  .feature-content > *{
      margin-bottom: 10px;
      margin-top: 0;
      font-size: 16px;
  }

  .feature-content p {
      color: #8b8b8bcc;
  }

  .feature-content a {
      color: #67b54b;
      font-weight: 600;
  }

  .header-hiw{
      text-align: center;
  }

  .header-hiw h3{
      color: #025157;
      font-family: "Alegreya" ,serif;
      font-size: 50px;
      font-weight: 900;
  }

  .header-hiw p {
      color: #46484c;
      font-size: 18px;
      padding: 0 25%;
  }

  .header-hiw a{
      color:#67b54b;
      text-decoration: none;
  }

  .header-hiw button{
      color: #fff;
      background-color: #025157;
      padding: 13px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 700;
  }

  .hiw-cards{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 40px;
      padding: 4rem 11rem;
  }

  .hiw-card{
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      border-style: solid;
      border-width: .7px;
      border-color: rgba(0, 0,0,0.1);
  }

  .hiw-card-img{
      display: flex;
      height: 55%;
  }

  .hiw-card-img .hiw-card-img-icon{
      width: 1.2em;
      height: 1.2em;
      margin: 2rem 0 0 1.5rem;
      position: relative;

  }

  .hiw-card-img .hiw-card-img-image{
      max-width: 100%;
      position: relative;
    }

    .hiw-card-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* text-align: center; */
    }

    .hiw-card-text h5{
        font-family: "Alegreya", sans-serif;
        font-size: 28px;
        margin-bottom: 30px;
        margin-top: 20px;
        color: #325157;
        font-weight: 700;
    }

    .hiw-card-text p{
        font-size: 16px;
        padding: 0 20%;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .hiw-card-text a{
        color: #67b54b;
        font-weight: 600;
    }






